:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #03012c;
  background-color: #F2D5F8;

  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* nav{
  background-color: #F7E1D7;
  
  
} */
a {
  font-weight: 500;
  color: #190E4F;
  text-decoration: inherit;

}

a:hover {
  color: #B33C86;
}

a:active{
  color: #190E4F;
}


.bio img {
  border-radius: 30px;
  width: 150px;
  padding: 10pt;

}

.bio {

  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: #F7E1D7; */
  padding: 15px;
  /* margin: auto; */

}

h2 {
  margin-bottom: 2px;
}

p {
  font-size: small;
  justify-content: center;
  margin-top: 2px;
  text-wrap: wrap;


}

.bioParagraph {
  text-wrap: wrap;
  width: 45%;
}

.portfolio {
  /* width: auto; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

}
.portfolioLinks{
  margin: 10px;
}
/* .portfolioLinks a {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  

} */

.portfolio img {
  border-radius: 30px;
  width: 350px;
  padding: 10pt;

}

/* .contactForm {
  background-color: #F7E1D7;
  padding: 10px;
  justify-content: center;
}

button {
  background-color: #03012c;
  border-radius: 5px;
  border: #F7E1D7;
} */

.resume{
  background-color: #E6C0E9;
  padding: 5px 15px 15px 15px;
  margin: 21.44px 0px;
}

.projects{
  background-color: #E6C0E9;
}
.projects a{
  color: #03012c;
}


/* form{
  background-color: aqua;
  width: 500px;
} */

/* .about-author{
    background-color: blue;
    width: 500px;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
}
.headshot{
    background-color: blueviolet;
    width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
} */
/* .headshot{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
*/
.bio{
  background-color: #E6C0E9;
} 





/* 
.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px){
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px){
    .responsive {
      width: 100%;
    }
  } */